<div
    id="kt_app_sidebar"
    class="app-sidebar flex-column border-end border-2"
    data-kt-drawer="true"
    data-kt-drawer-name="app-sidebar"
    data-kt-drawer-activate="{default: true, lg: false}"
    data-kt-drawer-overlay="true"
    data-kt-drawer-width="225px"
    data-kt-drawer-direction="start"
    data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle"
>
    <!--begin::Sidebar menu-->
    <div class="app-sidebar-menu overflow-hidden flex-column-fluid">
        <!--begin::Menu wrapper-->
        <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper">
            <!--begin::Scroll wrapper-->
            <div
                id="kt_app_sidebar_menu_scroll"
                class="scroll-y my-5 mx-3"
                data-kt-scroll="true"
                data-kt-scroll-activate="true"
                data-kt-scroll-height="auto"
                data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
                data-kt-scroll-wrappers="#kt_app_sidebar_menu"
                data-kt-scroll-offset="5px"
                data-kt-scroll-save-state="true"
                style="height: 222px;"
            >
                <!--begin::Menu-->
                <div class="menu menu-column menu-rounded menu-sub-indention pt-6 fw-semibold fs-6" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
                    <!-- Home -->
                    <a href="{{ path('dashboard') }}" class="menu-item text-dark">
                        <div class="menu-link text-dark text-hover-primary">
                            <span class="menu-icon">
                                <i class="fas fa-home"></i>
                            </span>
                            <span class="menu-title">Home</span>
                        </div>
                    </a>
                    <!-- Production -->
                    <div class="menu-item my-2">
                        <a href="#" class="menu-link text-dark text-hover-primary">
                            <span class="menu-icon">
                                <i class="fas fa-industry"></i>
                            </span>
                            <span class="menu-title">Production Overview</span>
                        </a>
                    </div>
                    <!-- Field Operations -->
                    <div class="menu-item my-2">
                        <a href="#" class="menu-link text-dark text-hover-primary">
                            <span class="menu-icon">
                                <i class="fas fa-oil-can"></i>
                            </span>
                            <span class="menu-title">Field Ops</span>
                        </a>
                    </div>
                    <!-- Inventory -->
                    <div class="menu-item my-2">
                        <a href="#" class="menu-link text-dark text-hover-primary">
                            <span class="menu-icon">
                                <i class="fas fa-warehouse"></i>
                            </span>
                            <span class="menu-title">Inventory</span>
                        </a>
                    </div>
                    <!-- Financials -->
                    <div class="menu-item my-2">
                        <a href="#" class="menu-link text-dark text-hover-primary">
                            <span class="menu-icon">
                                <i class="fas fa-chart-line"></i>
                            </span>
                            <span class="menu-title">Financials</span>
                        </a>
                    </div>
                    <!-- Reports -->
                    <div class="menu-item my-2">
                        <a href="#" class="menu-link text-dark text-hover-primary">
                            <span class="menu-icon">
                                <i class="fas fa-file-alt"></i>
                            </span>
                            <span class="menu-title">Reports</span>
                        </a>
                    </div>
                    <!-- Team -->
                    <div class="menu-item my-2">
                        <a href="#" class="menu-link text-dark text-hover-primary">
                            <span class="menu-icon">
                                <i class="fas fa-users"></i>
                            </span>
                            <span class="menu-title">Team</span>
                        </a>
                    </div>
                    <!-- Account Settings -->
                    <div class="menu-item my-2">
                        <a href="{{ path('app_account_setting') }}" class="menu-link text-hover-primary text-dark">
                            <span class="menu-icon">
                                <i class="fas fa-gear"></i>
                            </span>
                            <span class="menu-title">Account Settings</span>
                        </a>
                    </div>
                </div>
                <!--end::Menu-->
            </div>
            <!--end::Scroll wrapper-->
        </div>
        <!--end::Menu wrapper-->
    </div>
    <!--end::Sidebar menu-->
</div>
